<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Order Page</title>
    </head>
    <body class="text-light bg-dark">
        <div class="col-8" style="margin: auto;">
            <div class="usertable">
                <form action="/addUser" method="POST">
                {% csrf_token %}
                    <div class="table" style="margin: auto">
                        <h1>Your Orders</h>
                        <table class="table table-dark">
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <!-- will change later specifically to item price quantity and total price with an update link in quantity -->
                            {% for user in Users %}
                            <tr>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email_address}}</td>
                                <td>{{user.age}}</td>
                            </tr>
                            {% endfor %}
                    </div>
            </div>
                </form>
        </div>
    </body>
</html>