<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Product Page</title>
</head>
<body class="text-light bg-dark">
    <div class="container">
        <div class="col">
            <form action="/addUser" method="POST">
            {% csrf_token %}
            <div class="pos-f-t">
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                        <h4 class="text-white">One Sotop Shop</h4>
                        <span class="text-muted">Toggleable via the navbar brand.</span>
                        </div>
                    </div>
                    <nav class="navbar navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <a href="shoppingCart" role="button" style="position: right;">Shopping Cart</a>
                    </nav>
                </div>
            
            <div class="product">
                <img class="col"style="width: 15%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                <label for="sort">Sort</label>
                    <select name="sort">
                        <option value="Price">Price</option>
                        <option value="mostPop">Most Popular</option>
                        <option value="highToLow">High to Low</option>
                        <option value="lowToHigh">Low to High</option>
                        <option value="featured">Featured</option>
                        <option value="new">Newest Arrival</option>    
                    </select>
            </table>
            </div>
        </div>
    </form>
    <form>
            <div class="row">
                <h1>Product Description</h1>
                <p>Description Description Description Description Description
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription 
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription 
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                </p>
                <div class="labels">
                    <select name="sort">
                        <option value="1">1</option>
                        <option value="2">2/option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option> 
                    </select>
                </div>
    </form>
            <form>         
                <div class="bottomImages">
                    <h3>Similar Items</h3>
                    <div class="labels">
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                        <img class="col"style="width: 8%;"src="https://www.logolynx.com/images/logolynx/30/30e85a8b425c27e64feb9832decfd757.png" alt="Logo">
                        <h11>19.99</h11>
                    </div>
                </form> 
            </div>
    </div>
</body>
</html>