<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Product Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static 'productsListing/css/productListing.css' %}">

    <link rel="stylesheet" href="{% static 'productsApp/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/rangeslider.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/style.css' %}">

    <script src="{% static 'productsApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery-ui.js' %}"></script>
    <script src="{% static 'productsApp/js/popper.min.js' %}"></script>
    <script src="{% static 'productsApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'productsApp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'productsApp/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'productsApp/js/aos.js' %}"></script>
    <script src="{% static 'productsApp/js/rangeslider.min' %}"></script>
    <script src="{% static 'productsApp/js/main.js' %}"></script>
</head>
<header class="site-navbar container py-0 bg-white" role="banner">

    <div class="container">
        <div class="row align-items-center">
        
        <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">OneStop<span class="text-primary">Shop</span>  </a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="listings.html">Ads</a></li>
                <li class="has-children">
                <a href="about.html">Products</a>
                <ul class="dropdown">
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Cars</a></li>
                    <li><a href="#">Real Estate</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>

                <li class="ml-xl-3 login"><a href="/user"><span class="border-left pl-xl-4"></span>Log In</a></li>
                <li><a href="register.html">Register</a></li>

                <li><a href="/user/{{user.id}}/shoppingCart" role="button" style="position: right;">Shopping Cart</a></li>
            </ul>
            </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
        </div>

        </div>
    </div>

</header>
<body>
    <div class="container">
        <div class="col">
            <div class="product">
                <img class="col"style="width: 15%;"src="{{product.image}}" alt="Logo">
                <label for="sort">Sort</label>
                    <select name="sort">
                        <option value="Price">Price</option>
                        <option value="mostPop">Most Popular</option>
                        <option value="highToLow">High to Low</option>
                        <option value="lowToHigh">Low to High</option>
                        <option value="featured">Featured</option>
                        <option value="new">Newest Arrival</option>    
                    </select>
            </div>
        </div>
    </form>
    <form>
        <div class="row">
            <h1>{{product.name}}</h1>
            <p>{{product.desc}}</p>
            <div class="labels">
                <select name="sort">
                    <option value="1">1</option>
                    <option value="2">2/option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option> 
                </select>
            </div>
    </form>
            <form>         
                <div class="bottomImages">
                    <h3>Similar Items</h3>
                    <div class="labels">
                        {% for product in similar_products.all %}
                        <img class="col"style="width: 8%;"src="{{product.image}}" alt="Logo">
                        <h11>9.99</h11>
                        {% endfor %}
                    </div>
                </div>
            </form> 
    </div>
</body>
</html>