<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'productsListing/css/productListing.css' %}">

    <link rel="stylesheet" href="{% static 'productsApp/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/rangeslider.css' %}">
    <link rel="stylesheet" href="{% static 'productsApp/css/style.css' %}">

    <script src="{% static 'productsApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery-ui.js' %}"></script>
    <script src="{% static 'productsApp/js/popper.min.js' %}"></script>
    <script src="{% static 'productsApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'productsApp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'productsApp/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'productsApp/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'productsApp/js/aos.js' %}"></script>
    <script src="{% static 'productsApp/js/rangeslider.min' %}"></script>
    <script src="{% static 'productsApp/js/main.js' %}"></script>
</head>

<header class="site-navbar container py-0 bg-white" role="banner">

    <div class="container">
        <div class="row align-items-center">
        
        <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">OneStop<span class="text-primary">Shop</span>  </a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="listings.html">Ads</a></li>
                <li class="has-children">
                <a href="about.html">Products</a>
                <ul class="dropdown">
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Cars</a></li>
                    <li><a href="#">Real Estate</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>

                <li class="ml-xl-3 login"><a href="/user"><span class="border-left pl-xl-4"></span>Log In</a></li>
                <li><a href="register.html">Register</a></li>

                <li><a href="/user/{{user.id}}/shoppingCart" role="button" style="position: right;">Shopping Cart</a></li>
            </ul>
            </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
        </div>

        </div>
    </div>

</header>

<body>

    <!-- <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-light" href="/home">One Stop Shop</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/home" class="nav-link">Home<span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a href="/user/myaccount/{{user.id}}" class="nav-link">Edit My Account</a>
                </li>
                <li class="nav-item">
                    <a href="/user/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="container">
        <h1 class="border-bottom pb-3">Account Settings</h1>
        <div class="update-user-info my-5 pb-3 border-bottom">
            <form action="/user/myaccount/{{user.id}}/info/update" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="user-info-input col-8">
                        <p><strong>Your Info</strong></p>
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="updated_first_name">First Name</label>
                                <input type="text" name="updated_first_name" value="{{user.first_name}}" class="form-control">
                                {% for message in messages %}
                                {% if message.extra_tags == "updated_first_name" %}
                                <span class="text-danger pl-1">{{message}}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-group col-4">
                                <label for="updated_last_name">Last Name</label>
                                <input type="text" name="updated_last_name" value="{{user.last_name}}" class="form-control">
                                {% for message in messages %}
                                {% if message.extra_tags == "updated_last_name" %}
                                <span class="text-danger pl-1">{{message}}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-group col-4">
                                <label for="updated_email">Email Address</label>
                                <input type="text" name="updated_email" value="{{user.email}}" class="form-control">
                                {% for message in messages %}
                                {% if message.extra_tags == "updated_email" %}
                                <span class="text-danger pl-1">{{message}}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-4">
                        <button type="submit" class="btn btn-primary">Update Your Info</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="update-shipping-address my-5 pb-3 border-bottom">
            <form action="/user/myaccount/{{user.id}}/shipping/update" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="user-info-input col-8">
                        <p><strong>Stored Shipping Addresses</strong></p>
                        <div class="row">
                            {% for item in shipping_addresses.all %}
                            <p>{{item.first_name}} {{item.last_name}}</p>
                            <p>{{item.address}}</p>
                            <p>{{item.address2}}</p>
                            <p>{{item.city}}, {{item.state}}</p>
                            
                        </div>
                    </div>
                    <div class="text-center col-4">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="update-payment my-5 pb-3 border-bottom">
            <form action="/user/myaccount/{{user.id}}/payment/update" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="user-info-input col-8">
                        <p><strong>Password</strong></p>
                        <div class="row">
                            <div class="form-group col-lg-4 col-sm-6">
                                <label for="updated_password">New Password</label>
                                <input type="password" name="updated_password" class="form-control">
                                {% for message in messages %}
                                {% if message.extra_tags == "updated_password" %}
                                <span class="text-danger pl-1">{{message}}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-group col-lg-4 col-sm-6">
                                <label for="updated_confirm_password">Confirm New Password</label>
                                <input type="password" name="updated_confirm_password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-4">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="update-password my-5 pb-3 border-bottom">
            <form action="/user/myaccount/{{user.id}}/password/update" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="user-info-input col-8">
                        <p><strong>Password</strong></p>
                        <div class="row">
                            <div class="form-group col-lg-4 col-sm-6">
                                <label for="updated_password">New Password</label>
                                <input type="password" name="updated_password" class="form-control">
                                {% for message in messages %}
                                {% if message.extra_tags == "updated_password" %}
                                <span class="text-danger pl-1">{{message}}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-group col-lg-4 col-sm-6">
                                <label for="updated_confirm_password">Confirm New Password</label>
                                <input type="password" name="updated_confirm_password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-4">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>
</html>