<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>OneStopShop Admin</title>
</head>
<body>
    <div class="container">
        <div class="container_nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Dashboard</h4>
                </div>
                <div class="col-sm-4">
                    <a href="/">Admin Panel</a>
                </div>
                <div class="col-sm-4">
                    <a href="/orders_dash">Orders</a>
                </div>
                <div class="col-sm-4">
                    <a href="/logoff">Log Off</a>
                </div>
            </div>
            </nav>
        </div>
            <br>
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-light"><a href="/add_product">Add new product</a></button>
            </div>
        </div><br>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Inventory Count</th>
                        <th scope="col">Quantity Sold</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/static/imgplaceholder.png" alt="product image"></td>
                        <td>1</td>
                        <td>T-Shirt</td>
                        <td>123</td>
                        <td>1000</td>
                        <td><a href="/edit_product">edit | <a href="/delete">delete</td>
                    </tr>
                    <tr>
                        <td><img src="/static/imgplaceholder.png" alt="product image"></td>
                        <td>2</td>
                        <td>Hats</td>
                        <td>3</td>
                        <td>3</td>
                        <td><a href="/edit_product">edit | <a href="/delete">delete</td>
                    </tr>
                    <tr>
                        <td><img src="/static/imgplaceholder.png" alt="product image"></td>
                        <td>3</td>
                        <td>Mugs</td>
                        <td>12</td>
                        <td>2342</td>
                        <td><a href="/edit_product">edit | <a href="/delete">delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>